/VirtuaalinenLintukirja/target/
/Polkutesti/nbproject/private/
/Polkutesti/build/
/Ruudukko/nbproject/private/
/DynaaminenGUI/nbproject/private/
/DynaaminenGUI/build/
/lukija/nbproject/private/
/lukija/build/
/lukija/dist/
/montaNappainta/nbproject/private/
/montaNappainta/build/